.fb-container{
    display: block;
    flex-direction: row;
    justify-content: center;
    max-width: 3000px;
    max-height: 2000px;
    margin: auto;
}

/* Footer Top */
#footer-top {
    display: block;
    flex-direction: row;
    justify-content: center;
    max-width: 3000px;
    max-height: 2000px;
    margin: auto;
    background: linear-gradient(-47deg, #02428c 0%, #3e7fc0 100%);
}

.ft-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1400px;
    max-height: 2000px;
    margin: auto;
}

.ft-row {
    max-width: 3000px;
    max-height: 3000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.informasi{
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 15px;
}

.pemisah{
margin-top: 30px;
}

.layanan{
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 15px;
}

.perusahaan{
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 15px;
}

.sosmed{
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 15px;
}

.sosmed h3 {
    margin-left: 10px;
}

.sosmed a {
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
}

.sosmed img {
    width: 150px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.alamat-con{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.alamat-con i{
    margin-right: 10px;
}

.telp-con{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.telp-con i{
    margin-right: 10px;
}

.mail-con{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.mail-con i{
    margin-right: 10px;
}


.ft-row h3 {
    color: #ffffff;
}

.layanan ul {
    padding-left: 0px;
}

.informasi ul {
    padding-left: 0px;
}

.alamat-con div p{
    margin: 0px;
}

.telp-con p{
    margin: 0;
}

.ft-row li, a{
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
}


/* Footer Bottom */
#footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    max-width: 3000px;
    max-height: 3000px;
    margin: auto;
    background: linear-gradient(-47deg, #02428c 0%, #3e7fc0 100%);
}

.fb-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1300px;
    max-height: 1300px;
}

.fb-container p {
    justify-content: left;
    font-size: 14px;
    color: white;
}
