<link rel="stylesheet" href="/src/app/footer/footer.component.css">

<!-- Footer Top -->
<div class="container">
    <footer id="footer-top">
        <div class="ft-container">
            <div class="ft-row">
                <div class="informasi">
                    <h3>INFORMASI</h3>
                    <ul>
                        <li><a href="/about">Profil Perusahaan</a></li>
                        <li><a href="/home">FAQ</a></li>
                        <li><a href="https://www.instagram.com/onindonesia.id/">Berita dan Promo</a></li>
                        <li><a href="https://www.instagram.com/onindonesia.id/">KARIR</a></li>
                        <div class="pemisah">
                            <li><a href="/home">Terms & Conditions</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                        </div>
                    </ul>
                </div>
                <div class="layanan">
                    <h3>LAYANAN</h3>
                    <ul>
                        <li><a href="/home">On Apps</a></li>
                        <li><a href="/home">On Market</a></li>
                        <li><a href="/home">On Payment</a></li>
                        <li><a href="https://ondelivery.id/">On Delivery</a></li>
                    </ul>
                </div>
                <div class="perusahaan">
                    <h3>INFO PERUSAHAAN</h3>
                    <li>
                        <div class="alamat-con">
                            <i class="material-icons">location_city</i>
                            <div>
                                <p>Menara Satu Sentra Kelapa Gading</p>
                                <p>Jl. Boulevard Raya RT. 011/018</p>
                                <p>Kelapa Gading, Jakarta Utara</p>
                                <p>Kode Pos ID 14240</p>
                            </div>
                        </div>
                        <div class="telp-con">
                            <i class="material-icons">local_phone</i>
                            <p>(021) 50555007</p>
                        </div>
                        <div class="mail-con">
                            <i class="material-icons">email</i>
                            <a href="mailto:marketing@onindonesia.id">marketing@onindonesia.id</a>
                        </div>
                    </li>
                </div>
                <div class="sosmed">
                    <h3>STAY CONNECTED</h3>
                    <div class="sosmed-row">
                        <a href="https://www.instagram.com/onindonesia.id/"><i></i></a>
                        <a href="/home"></a>
                        <a href="/home"></a>
                        <a href="/home"></a>
                    </div>
                    <a href="https://play.google.com/store/apps/details?id=com.onindonesia.onmapps">DOWNLOAD APP</a>
                    <img src="../../assets/images/google-play.png" alt="">
                    <img src="../../assets/images/app-store.png" alt="">
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Bottom -->
    <footer id="footer-bottom">
        <div class="fb-container">
            <p>© Copyrights 2021 ALDOVA GUSWANTRI. All rights reserved</p>
        </div>
    </footer>
</div>