<!-- Tentang Kami -->
<link rel="stylesheet" href="/src/app/about/about.component.css">

<div class="container">
    <!-- Judul -->
    <section id="bg-container">
        <div class="title-container">
            <h1>Tentang ONINDONESIA</h1>
            <ol>
                <a href="/home">HOME</a>
                 <p> > About Us</p>
            </ol>
        </div>
    </section>
    <section id="service-area">
        <div class="sa-container">
            <div class="sa-row">
                <div class="sa-left">
                    <div>
                        <h2>Kenali ONINDONESIA Lebih Dekat</h2>
                        <div>
                            <p>ONINDONESIA hadir dan memberikan layanan aplikasi Super App yang optimal, kami memanfaatkan teknologi perangkat lunak untuk membuat sebuah aplikasi yang berguna. ONINDONESIA memberikan beberapa jenis layanan yang bisa Anda gunakan.</p>
                        </div>
                        <ul>
                            <li>On Delivery sebagai layanan jasa antar barang yang dapat Anda percaya untuk mengirim barang sampai ke tujuan.</li>
                            <li>On Market dapat diandalkan sebagai platform untuk melakukan promosi bisnis Anda atau Anda dapat mencari barang yang dibutuhkan dengan harga yang terjangkau.</li>
                        </ul>
                    </div>
                </div>
                <div class="sa-right">
                    <div>
                        <img src="../../assets/images/onapps.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
