<link rel="stylesheet" href="/src/app/navbar/navbar.component.css">

<!-- Navigation -->
<header id="navbar">
    <nav >
        <a href="/home">
            <img src="../../assets/images/logo-white.png" alt="logo">
        </a>
        <div class="navigation">
            <ul>
                <li><a href="/about">Tentang kami</a></li>
                <li><a href="/privacy-policy">Informasi</a></li>
                <li><a href="/partner">Partner</a></li>
                <li><a href="/kontak">Kontak</a></li> 
                <li>
                    <div>
                        <img src="../../assets/images/idn.png" alt="">
                        <p>IDN</p>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>