#bg-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../assets/images/background-section.jpeg);
    background-size: cover;
    background-position: center;
    max-width: 3000px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.title-container h1 {
    color: white;
    font-size: 40px;
    padding-left: 0px;
}

.title-container ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0px;
}

.title-container ol a {
    text-decoration: none;
    color: white;
}

.title-container ol p {
    color: white;
    font-size: 14px;
    margin-top: 1px; 
    margin-left: 5px; 
    font-weight: 500;
}

#partner-area {
    display: block;
    flex-direction: row;
    align-items: center;
    max-width: 3000px;
    height: 500px;
    margin: auto;
    padding: 50px 0px;
}

.partner-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 680px;
    margin: auto;
}

.partner-container h2 {
    margin: auto;
    font-size: 40px;
    font-weight: 550;
}

.partner-container p {
    color: #4d4d4d;
    font-size: 15px;
}