<!-- Partner -->
<link rel="stylesheet" href="/src/app/partner/partner.component.css">

<div class="container">
    <!-- Judul -->
    <section id="bg-container">
        <div class="title-container">
            <h1>Partner ONINDONESIA</h1>
            <ol>
                <a href="/home">HOME</a>
                 <p> > Partner</p>
            </ol>
        </div>
    </section>

    <section id="partner-area">
        <div class="partner-container">
            <h2>Partner ONINDONESIA</h2>
            <p>Bergabunglah dengan ONINDONESIA sebagai partner. ONINDONESIA berkomitmen memberikan segala kebutuhan dalam satu aplikasi. Hubungi kami untuk informasi lebih lanjut.
            </p>
        </div>
    </section>
</div>