<!-- Kontak -->
<link rel="stylesheet" href="/src/app/kontak/kontak.component.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

<div class="container">
    <!-- Judul -->
    <section id="bg-container">
        <div class="title-container">
            <h1>Contact Us</h1>
            <ol>
                <a href="/#home">HOME</a>
                 <p> > Contact</p>
            </ol>
        </div>
    </section>
    <!-- Contact Area -->
    <section id="contact-area">
        <div class="ca-container">
            <div class="title-row"><h2>Kontak ONINDONESIA</h2></div>
            <div class="content-raw">
                <div class="ca-left">
                    <p>Kontak kami melalui media berikut</p>
                    <ul> 
                        <div>
                            <i class="material-icons">location_city</i>
                            <li >
                                <p>Menara Satu Sentra Kelapa Gading</p>
                                <p>Jl. Boulevard Raya RT. 011/018</p>
                                <p>Kelapa Gading, Jakarta Utara</p>
                                <p>Kode Pos ID 14240</p>
                            </li>
                        </div>

                        <div>
                            <i class="material-icons">call</i>
                            <li >(021) 50555007</li>
                        </div>
                        <div>
                            <i class="material-icons">mail</i>
                            <li>
                                <a href="mailto:marketing@onindonesia.id">marketing@onindonesia.id</a>
                            </li>
                        </div>
                        <h4>Kontak Layanan Pengaduan Konsumen</h4>
                        <p>Direktorat Jenderal Perlindungan Konsumen dan Tertib Negara Kementerian Perdagangan Republik Indonesia</p>
                        <p>WA : 085311111010</p>
                    </ul>
                </div>
                <div class="ca-right">
                    <p>STAY CONNECTED</p>
                    <div>
                        <a href=""></a>
                        <a href=""></a>
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                    <p>DOWNLOAD APP</p>
                    <div>
                        <a href="https://play.google.com/store/apps/details?id=com.onindonesia.onmapps"><img src="../../assets/images/google-play-black.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Map Area -->
    <section id="map-area">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.782257815172!2d106.90292121476882!3d-6.159910095540212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5316984d8a9%3A0xe9632ebb1a076abb!2sMenara%20Satu%20Sentra%20Kelapa%20Gading!5e0!3m2!1sen!2sid!4v1678964276819!5m2!1sen!2sid" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</div>