@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
h1, h2, h3, p, a {
    font-family: 'Poppins';
}

/* Home */
#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../assets/images/background-section.jpeg);
    background-size: cover;
    background-position: center;
    max-width: 3000px;
    max-height: 3000px;
    min-height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.home-container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
}

.product-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.left {
    max-width: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
}

.right {
    max-width: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
}

.left h1 {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 48px;
}

.left p {
    color: #ffffff;
    font-family: 'Poppins';
}

.left img {
    margin-right: 20px;
    max-width: 150px;
    height: 50px;
    cursor: pointer;
}

.right img {
    max-width: 325px;
}


/* Features */
#features {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 3000px;
    max-height: 3000px;
    min-height: 800px;
    margin: auto;
    padding: 50px 0px;
}

.tentang-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 680px;
    margin: auto;
}

.tentang-container h2 {
    margin: auto;
    font-size: 40px;
    font-weight: 550;
}

.tentang-container p {
    color: #4d4d4d;
    font-size: 15px;

}

.tentang-container a {
    text-decoration: none;
    color: #054a91;
}

.features-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
}

.feat-dalam {
    max-width: 300px;
    padding: 0px 15px;
}

.feat-luar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    height: 325px;
    box-shadow: 1px 1px 1px 1px rgba(99, 90, 90, 0.1), 1px 1px 1px 1px rgba(90, 90, 90, 0.1);
    border-radius: 20px;
    transition: 0.3s;
}


.feat-luar:hover {
    padding: 30px 32px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.feat-luar img {
    width: 144px;
    margin: auto;
}

.features-container a {
    font-size: 20px;
    text-decoration: none;
    color: #444444;
    font-weight: 600;
    text-align: center;
}

.features-container a:hover {
    color: #054a91;
}

.features-container p {
    font-size: 14px;
    color: #444444;
    margin: 0px 0px 12px;
    text-align: center;
}

/* Work Area */
#work-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 3000px;
    max-height: 3000px;
    margin: auto;
    background: linear-gradient(-47deg, #02428c 0%, #3e7fc0 100%);
    
}

.wa-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0px;
    max-width: 1400px;
    margin: auto;
}

.wa-luar {
    padding: 0px 15px;
    max-width: 350px;
    height: 263px;
}

.wa-dalam {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wa-dalam i {
    font-size: 70px;
    color: #ffffff;
    margin: auto;
}

.wa-dalam h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

.wa-dalam p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.wa-panah {
    display: flex;
    padding: 0px 10px 0px 10px;
    flex-direction: column;
    justify-content: center;
    transform: 0.2s;
}

.wa-panah:hover {
    padding: 0px 6px 0px 14px;
    transition: 0.2s;
}

.wa-panah i{
    font-size: 70px;
    color: #ffffff;
}

#service-area {
    max-width: 3000px;
    max-height: 3000px;
    margin: auto;
    padding: 50px 0px;
}

.sa-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 3000px;
    max-height: 1200px;
}

.sa-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 2000px;
    max-width: 1200px;
    margin: auto;
}


.sa-left {
    max-width: 500px;
    max-height: 2000px;
    padding: 0px 15px;
}

.service-text {
    max-height: 1200px;
}

.sa-left p{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 12px;
}


.sa-left h2 {
    font-size: 40px;
    margin: 0px 0px 24px;
}

.sa-left ul {
    padding: 0;
    text-align: left;
}

.sa-left li{
    display: flex;
    padding: 8px 0px;
}

.sa-left li p {
    padding: 0px 8px;
    font-weight: 400;
}

.sa-left a {
    padding: 14px 18px;
    margin-top: 24px;
    text-decoration: none;
    border-radius: 15px;
    color: #ffffff;    
    background: linear-gradient(-47deg, #02428c 0%, #3e7fc0 100%);
    box-shadow: 1px 1px 1px 1px rgba(99, 90, 90, 0.1), 1px 1px 1px 1px rgba(90, 90, 90, 0.1);
    transition: 0.3s;
}

.sa-left a:hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3), 0 6px 6px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.sa-right {
    max-width: 500px;
    max-height: 2000px;
    padding: 0px 15px;
}   

.sa-right img {
    max-height: 493px;
    max-width: 100%;
    padding: 30px 0px;
}

#branding-area {
    display: block;
    flex-direction: row;
    align-items: center;
    max-width: 3000px;
    max-height: 500px;
    padding: 50px 0px;
    margin: auto;
}

.branding-container {
    text-align: center;
    justify-content: space-between;
    max-width: 730px;
    margin: auto;
}

.ba-container {
    text-align: center;
    justify-content: space-between;
    max-width: 730px;
    margin: auto;
}

.ba-container h2 {
    font-size: 40px;
    font-weight: 550;
}

.ba-container p {
    color: #4d4d4d;
    font-size: 15px;

}

/* Promo Area */

#promo-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 3000px;
    max-height: 3000px;
    padding: 20px 0px;
    margin: auto;
}

.pa-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px;
    max-width: 2000px;
    max-height: 2000px;
    margin: auto;
    }

.pa-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-height:2000px;
    max-width: 2000px;
    margin: auto;
}


.pa-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 570px;
    max-height: 1200px;
    padding: 0px 15px;
    overflow: hidden;
    margin: auto;
}
 
.pa-left img {
    max-width: 375px;
    max-height: 100%;
    margin: auto;
}

.pa-right {
    max-width: 570px;
    max-height: 1200px;
    padding: 0px 15px;
    margin: auto;
}

.pa-icons i{
    width: 50px;
    height: 55px;
    margin-top: 0px;
}

.text-caps h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 24px;
}

.pa-right ul {
    padding: 0;
    text-align: left;
}

.pa-right li{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-bottom: 10px;
    margin-right: 10px;
}


.pa-right li div span i {
    padding-bottom: 24px;
    margin-right:16px;
    font-size: 50px;
    color: #054a91;
}

.pa-profit {
    display: block;
}

.pa-profit h3{
    margin: 0px 0px 12px;
}

.pa-profit p{
    margin: 0px 0px 12px;
}

.playstore-button img{
    margin-top: 40px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(99, 90, 90, 0.1), 1px 1px 1px 1px rgba(90, 90, 90, 0.1);
    transition: 0.3s;
}

.playstore-button img:hover{
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3), 0 6px 6px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

