<link rel="stylesheet" href="/src/app/home/home.component.css">

<div class="container">
    <!-- Home -->
    <section id="home">
        <div class="home-container">
            <div>
                <div class="product-container">
                    <div class="left">
                        <h1>Anything You Need in One App</h1>
                        <p>Semua lebih mudah dalam satu aplikasi</p>
                        <div class="image-button">
                            <a href="https://play.google.com/store/apps/details?id=com.onindonesia.onmapps"> <img src="../assets/images/google-play.png" alt="googleplay"> </a>
                            <a href="/home"> <img src="../assets/images/app-store.png" alt="appstore"> </a> 
                        </div>
                    </div>
                    <div class="right">
                        <img src="../assets/images/for-homepage.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features -->
    <section id="features">
        <div class="tentang-container">
            <h2>Tentang ONINDONESIA</h2>
            <p>ONINDONESIA hadir dengan berbagai fitur unik yang dapat mempermudah transaksi online. Kami bergerak
                dibidang pengembangan aplikasi yang berfokus pada penggunaan teknologi, kami menyediakan beberapa
                layanan aplikasi seperti marketplace, fulfillment, e-payment dan delivery pada satu aplikasi.
                <a href="/about">Selengkapnya
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </p>
        </div>
        <div class="features-container">
            <div class="feat-dalam">
                <div class="feat-luar">
                    <img src="../assets/images/superpartner.png" alt="">
                    <a href="https://play.google.com/store/apps/details?id=com.onindonesia.onmapps">ONAPPS</a>
                    <hr>
                    <p>Super Apps yang dapat menjangkau semua aplikasi kebutuhan kamu dengan cepat.</p>
                </div>
            </div>
            <div class="feat-dalam">
                <div class="feat-luar">
                    <img src="../assets/images/onmarket.png" alt="">
                    <a href="/home">ONMARKET</a>
                    <hr>
                    <p>Layanan belanja kebutuhan keseharianmu dengan berbagai promo menarik.</p>
                </div>
            </div>
            <div class="feat-dalam">
                <div class="feat-luar">
                    <img src="../assets/images/onpay.png" alt="">
                    <a href="/home">ONPAYMENT</a>
                    <hr>
                    <p>Layanan pembayaran cashless dengan mudah dan cepat dengan berbagai promo.</p>
                </div>
            </div>
            <div class="feat-dalam">
                <div class="feat-luar">
                    <img src="../assets/images/ondeliv.png" alt="">
                    <a href="https://ondelivery.id/">ONDELIVERY</a>
                    <hr>
                    <p>On Delivery menjangkau pengiriman paket dimanapun kamu berada dengan cepat.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Work Area -->
    <section id="work-area">
        <div class="wa-container">
            <div class="wa-luar">
                <div class="wa-dalam">
                    <div>
                        <i class="avatar-md material-icons">get_app</i>
                    </div>
                    <h3>Pasang Aplikasi</h3>
                    <p>Unduh aplikasi ONINDONESIA pada perangkatmu, saat ini aplikasi kami sudah tersedia di Play Store</p>
                </div>
            </div>
            <div class="wa-panah">
                <i class="fas fa-angle-right"></i>
            </div>
            <div class="wa-luar">
                <div class="wa-dalam">
                    <div>
                        <i class="avatar-md material-icons">manage_accounts</i>
                    </div>
                    <h3>Atur Profilmu</h3>
                    <p>Daftar dan atur Profilmu pada aplikasi. Lengkapi semua informasi pribadi yang diperlukan di aplikasi</p>
                </div>
            </div>
            <div class="wa-panah">
                <i class="fas fa fa-angle-right"></i>
            </div>
            <div class="wa-luar">
                <div class="wa-dalam">
                    <div>
                        <i class="avatar-md material-icons">widgets</i>
                    </div>
                    <h3>Nikmati Fiturnya</h3>
                    <p>Ya, aplikasimu siap digunakan. Nikmati berbagai fitur yang kami sediakan dalam satu aplikasi</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Service Area -->
    <section id="service-area">
        <div class="sa-container">
            <div class="sa-row-container">
                <div class="sa-left">
                    <p>Mengapa ONINDONESIA?</p>
                    <br>
                    <div class="service-text">
                        <h2>Satu Aplikasi Untuk Semua Kegiatanmu</h2>
                        <ul>
                            <li class="fa fa-check"><p>Dengan satu aplikasi super App dapat memberikan akses keseluruh aplikasi yang kamu butuhkan.</p></li>
                            <li class="fa fa-check"><p>Memberikan layanan aplikasi yang berguna dan effisien.</p></li>
                            <li class="fa fa-check"><p>Banyak promo aplikasi menarik.</p></li>
                            <li class="fa fa-check"><p>Aplikasi yang mudah dimengerti dan digunakan.</p></li>
                        </ul>
                        <a href="/about">
                            Selengkapnya
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
                <div class="sa-right">
                    <img src="../assets/images/onapps-opening-page.png" alt="">
                </div> 
            </div>
        </div>
    </section>
    <!-- Branding Area -->
    <section id="branding-area">
        <div class="ba-container">
            <h2>Tentang ONINDONESIA</h2>
            <p>Bergabunglah dengan ONINDONESIA sebagai partner. ONINDONESIA berkomitmen memberikan segala kebutuhan dalam satu aplikasi. Hubungi kami untuk informasi lebih lanjut.
            </p>
        </div>
    </section>
    <!-- Promo Area -->
    <section id="promo-area">
        <div class="pa-container">
            <div class="pa-row-container">
                <div class="pa-left">
                    <img src="../assets/images/for-homepage.png" alt="">
                </div>
                <div class="pa-right">
                    <div class="text-caps">
                        <h2>Unduh ONINDONESIA Sekarang</h2>
                    </div>
                    <ul>
                        <li>
                            <div class="pa-icons">
                                <span><i class="material-icons">insert_emoticon</i></span>
                            </div>
                            <div class="pa-profit">
                                <h3>Mudah Digunakan</h3>
                                <p>ONINDONESIA bersifat user friendly dan dapat diunduh di Play Store dan App Store                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="pa-icons">
                                <span><i class="material-icons">widgets</i></span>
                            </div>
                            <div class="pa-profit">
                                <h3>Fitur Menarik</h3>
                                <p>Fitur yang bermanfaat dan menarik dalam satu aplikasi</p>
                            </div>
                        </li>
                        <li>
                            <div class="pa-icons">
                                <span><i class="material-icons">mobile_friendly</i></span>
                            </div>
                            <div class="pa-profit">
                                <h3>Banyak Promo</h3>
                                <p>Tersedia berbagai promo menarik yang dapat digunakan</p>
                            </div>
                        </li>
                    </ul>
                    <div class="playstore-button">
                        <a href="https://play.google.com/store/apps/details?id=com.onindonesia.onmapps"><img src="../assets/images/google-play-black.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>